.box{
    width: 200px;
    height: 200px;
    background: linear-gradient(blue, red, green);
}
.box1{
    width: 200px;
    height: 200px;
    background: linear-gradient(to right blue, red, green);
}
.box2{
    width: 200px;
    height: 200px;
    background: linear-gradient(to top blue, red, green);
}
.box3{
    width: 200px;
    height: 200px;
    background: radial-gradient(blue, red, green);
}
.box4{
    width: 200px;
    height: 200px;
}