body{
    background-color: gray;
}

div{
    box-sizing: border-box;
}

.caja{
    background-color: white;
    margin: 20px;
    padding: 6px;
    border: 2px solid #48e;
    border-radius: 40px;
}

.barra{
    padding: 40px;
    background-color: #48e;
    border-radius: 35px;
    width: 10%;
    animation-name: llenar-barra;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    /*animation-fill-mode: backwards forwards;*/
    /*animation-iteration-count:1,2,3,4,infinite;*/
    /*animation-direction:reverse, alternate*/
}

@keyframes llenar-barra{
    from{
        width: 0%;
    }
    
    to{
        width: 100%;
        background-color: red;
    }
}